
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <p ><b style="color: rgb(190, 233, 14); ;">Name:{{data.firstname}} {{data.lastname}}</b>
                  <button class="btn btn-danger mt-2" routerLink="/login" >Log out</button>  </p>
                
            </li>

            <p>Career.com</p>
            <li class="">
                <a href="home" data-toggle="collapse" aria-expanded="false" class="dropdown">Home</a>
                
            </li>
            <li>
                <a href="aboutus">About</a>
            </li>
            <!-- <li>
                <a href="table" data-toggle="collapse" aria-expanded="false">User List</a>
                
            </li> -->
            <li>
                <a href="vacancy">Vacancy</a>
            </li>
            <li>
                <a href="contactus">Contact</a>
            </li>
            <li>
                <a href="notifications">Notifications</a>
            </li>
            
        </ul>

        
    </nav>
