
<app-common ></app-common>
<div >
<section id="about-us" class="py-5" style="position: absolute;top: 0px;" >
    <div class="container">
        <h2>About us</h2>
    <hr>
        <div class="row">
            <div class="col-6">
                
                <p class="lead">
                    We are dedicated to helping job seekers find their dream careers and connecting employers with top talent.
                </p>
                <p>
                    Our mission is to make the job search process easier and more efficient for everyone. Whether you're an experienced professional or just starting your career, we have the tools and resources to help you succeed.
                </p>
                <p>
                    Our team is passionate about matching the right people with the right opportunities. With years of experience in the job market, we understand the challenges and opportunities that job seekers and employers face.
                </p>
                <p>
                    Thank you for choosing us as your trusted job search partner.
                </p>
            </div>
            
            <div class="col-6">
                <img src="assets/360_F_451832202_e1QKPBz6HJm25BlNZwi0OT1404WGMs1i.jpg" alt="About Us Image" class="img-fluid rounded-circle">
            </div>
        </div>
    </div>
</section>
</div>